pre.pygments .hll { background-color: #49483e }
pre.pygments  { background: #272822; color: #f8f8f2 }
pre.pygments .tok-c { color: #75715e } /* Comment */
pre.pygments .tok-err { color: #960050; background-color: #1e0010 } /* Error */
pre.pygments .tok-k { color: #66d9ef } /* Keyword */
pre.pygments .tok-l { color: #ae81ff } /* Literal */
pre.pygments .tok-n { color: #f8f8f2 } /* Name */
pre.pygments .tok-o { color: #f92672 } /* Operator */
pre.pygments .tok-p { color: #f8f8f2 } /* Punctuation */
pre.pygments .tok-ch { color: #75715e } /* Comment.Hashbang */
pre.pygments .tok-cm { color: #75715e } /* Comment.Multiline */
pre.pygments .tok-cp { color: #75715e } /* Comment.Preproc */
pre.pygments .tok-cpf { color: #75715e } /* Comment.PreprocFile */
pre.pygments .tok-c1 { color: #75715e } /* Comment.Single */
pre.pygments .tok-cs { color: #75715e } /* Comment.Special */
pre.pygments .tok-gd { color: #f92672 } /* Generic.Deleted */
pre.pygments .tok-ge { font-style: italic } /* Generic.Emph */
pre.pygments .tok-gi { color: #a6e22e } /* Generic.Inserted */
pre.pygments .tok-go { color: #66d9ef } /* Generic.Output */
pre.pygments .tok-gp { color: #f92672; font-weight: bold } /* Generic.Prompt */
pre.pygments .tok-gs { font-weight: bold } /* Generic.Strong */
pre.pygments .tok-gu { color: #75715e } /* Generic.Subheading */
pre.pygments .tok-kc { color: #66d9ef } /* Keyword.Constant */
pre.pygments .tok-kd { color: #66d9ef } /* Keyword.Declaration */
pre.pygments .tok-kn { color: #f92672 } /* Keyword.Namespace */
pre.pygments .tok-kp { color: #66d9ef } /* Keyword.Pseudo */
pre.pygments .tok-kr { color: #66d9ef } /* Keyword.Reserved */
pre.pygments .tok-kt { color: #66d9ef } /* Keyword.Type */
pre.pygments .tok-ld { color: #e6db74 } /* Literal.Date */
pre.pygments .tok-m { color: #ae81ff } /* Literal.Number */
pre.pygments .tok-s { color: #e6db74 } /* Literal.String */
pre.pygments .tok-na { color: #a6e22e } /* Name.Attribute */
pre.pygments .tok-nb { color: #f8f8f2 } /* Name.Builtin */
pre.pygments .tok-nc { color: #a6e22e } /* Name.Class */
pre.pygments .tok-no { color: #66d9ef } /* Name.Constant */
pre.pygments .tok-nd { color: #a6e22e } /* Name.Decorator */
pre.pygments .tok-ni { color: #f8f8f2 } /* Name.Entity */
pre.pygments .tok-ne { color: #a6e22e } /* Name.Exception */
pre.pygments .tok-nf { color: #a6e22e } /* Name.Function */
pre.pygments .tok-nl { color: #f8f8f2 } /* Name.Label */
pre.pygments .tok-nn { color: #f8f8f2 } /* Name.Namespace */
pre.pygments .tok-nx { color: #a6e22e } /* Name.Other */
pre.pygments .tok-py { color: #f8f8f2 } /* Name.Property */
pre.pygments .tok-nt { color: #f92672 } /* Name.Tag */
pre.pygments .tok-nv { color: #f8f8f2 } /* Name.Variable */
pre.pygments .tok-ow { color: #f92672 } /* Operator.Word */
pre.pygments .tok-w { color: #f8f8f2 } /* Text.Whitespace */
pre.pygments .tok-mb { color: #ae81ff } /* Literal.Number.Bin */
pre.pygments .tok-mf { color: #ae81ff } /* Literal.Number.Float */
pre.pygments .tok-mh { color: #ae81ff } /* Literal.Number.Hex */
pre.pygments .tok-mi { color: #ae81ff } /* Literal.Number.Integer */
pre.pygments .tok-mo { color: #ae81ff } /* Literal.Number.Oct */
pre.pygments .tok-sa { color: #e6db74 } /* Literal.String.Affix */
pre.pygments .tok-sb { color: #e6db74 } /* Literal.String.Backtick */
pre.pygments .tok-sc { color: #e6db74 } /* Literal.String.Char */
pre.pygments .tok-dl { color: #e6db74 } /* Literal.String.Delimiter */
pre.pygments .tok-sd { color: #e6db74 } /* Literal.String.Doc */
pre.pygments .tok-s2 { color: #e6db74 } /* Literal.String.Double */
pre.pygments .tok-se { color: #ae81ff } /* Literal.String.Escape */
pre.pygments .tok-sh { color: #e6db74 } /* Literal.String.Heredoc */
pre.pygments .tok-si { color: #e6db74 } /* Literal.String.Interpol */
pre.pygments .tok-sx { color: #e6db74 } /* Literal.String.Other */
pre.pygments .tok-sr { color: #e6db74 } /* Literal.String.Regex */
pre.pygments .tok-s1 { color: #e6db74 } /* Literal.String.Single */
pre.pygments .tok-ss { color: #e6db74 } /* Literal.String.Symbol */
pre.pygments .tok-bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
pre.pygments .tok-fm { color: #a6e22e } /* Name.Function.Magic */
pre.pygments .tok-vc { color: #f8f8f2 } /* Name.Variable.Class */
pre.pygments .tok-vg { color: #f8f8f2 } /* Name.Variable.Global */
pre.pygments .tok-vi { color: #f8f8f2 } /* Name.Variable.Instance */
pre.pygments .tok-vm { color: #f8f8f2 } /* Name.Variable.Magic */
pre.pygments .tok-il { color: #ae81ff } /* Literal.Number.Integer.Long */